*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}


nav{
    display: flex;
    width: 100%;
    align-items: center;
    /* border: 2px solid black; */
    justify-content: space-around;
    /* margin: auto; */
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;

}


header{
    /* width:100%; */
    /* border: 2px solid black; */
}

.left-side{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    align-items: center;
    gap: 5em;

}
nav ul{
    display: flex;
    gap:4em;
    align-items: center;
}

.logo{
    width: 120px;
}

nav ul li a{
    color: #9999A6;
    font-size: .875em;
}

nav ul li a:hover{
    color: black;
}

.btns{
    padding: 10px 15px;
    border-radius: 4px;
}

.btns a{
    color: black;
}

.sign-in-btn {
    border: 0.5px solid #9999A6;
}

.sign-in-btn a:hover{
    color: #38AEF5;
}
.subscribe-btn{
    background-color: #38AEF5;
    border: none;
}

.subscribe-btn:hover{
    background-color: #0e8bd8f6;
}
.subscribe-btn a{
    color: #fff;
}

.right-side{
    display: flex;
    align-items: center;
    gap: 1em;
    /* flex-wrap: wrap; */
}
.right-side .search-icon {
    /* border: 2px solid black; */
}


.fa-bars{
    display: none;
}

.search-icon{
    /* border: 2px solid black; */
}


.backgrd-img{
    width: 100%;
    opacity: 75%;
    /* height: 80vh; */

}

.hero-sect{
    /* margin-top: 140px; */
    /* height: 80vh; */
    position: relative;
    width: 100%;
}

.hero-img{
    /* border: 2px solid black; */
    /* width: 100%; */
    /* margin-top: 10%; */
}

.hero-text{
    position: absolute;
    top: 38%;
    left: 39%;
    /* border: 2px solid black; */
    /* background-color: red; */

    /* transform: translateY(-50%);  */
}

.hero-sect h1{
    /* border: 2px solid black; */
    color: #fff;
    font-weight:800;
    /* text-align: center; */
    font-size: 2.5rem;
    margin-bottom: 1px;
    /* width: 90%; */
}

.hero-sect p{
    color: #fff;
    width:70%;
    /* margin: auto; */
    /* border: 2px solid black; */
    font-weight: 500;
    background-color:#38AEF5;
    font-size: 1rem;


}

.cards{
    width: 80%;
    margin: auto;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    gap: 3em;

}

.card{
    width: 350px;
    height: 500px;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-top: 20px;
    position: relative;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.html-icon{
    /* border: 2px solid black; */
    position: absolute;
    top: 0;
    }

.css-icon{
    /* margin-top: 5px; */
    position: absolute;
    top: 2%;
}

.js-icon{
    position: absolute;
    top: 4%;
    /* border: 2px solid black; */

}

.view-button{
    position: absolute;
    text-align: center;
    margin: auto;    
    top: 92%;
    padding: 6px 10px;
    background-color: #38AEF5;
    border: none;
    border-radius: 5px;
}


.view-button a{
    color: white;
    font-size: 12px;
}



.card h3{
    position: absolute;
    top: 58%;
    /* border: 2px solid black; */

    /* left: 30% */
}

.card p{
    position: absolute;
    top: 67%;
    text-align: center;
    /* border-bottom: 1px solid black; */
    /* padding: 5px; */
}

.card .js-text{
    position: absolute;
    top: 55%;
    /* color: red; */
}


.cards .base{
    width: 100%;
    /* height: 100%; */
    /* border: 2px solid black; */
    margin-left: 0;
    margin-top: 20px;
    /* padding-top: 30px; */
    /* border-top: 1px solid #0000000c; */
    position: absolute;
    top: 80%;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 5px;
    /* background-color: red; */
    position: absolute;
    
}
.cards .signature-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* top: 75%; */
    /* border: 2px solid black; */
        /* z-index: 2; */
    position: absolute;
    background-color: #61616255;
    overflow: hidden;
}

.signature-image img{
    width: 100%;
    height: 100%;
    margin: auto;
    /* object-fit: cover; */
    /* border-radius: 50%; */
    z-index: 10;
}
.cards .signature-image-and-name{
    display: flex;
    align-items: center;
    /* position: absolute; */
}

.card .base-texts{
    padding: 5px;
    /* border: 2px solid black; */
}

.cards .name{
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    left: 18%;
    /* border: 2px solid black; */
}


.cards .date{
    position: absolute;
    top: 0;
    left: 75%;
    font-size: 0.8rem;
    /* border: 2px solid black; */
}

.card .text3{
    /* border: 2px solid black; */
    margin-top: -20px;
}

.card .base-texts3{
    padding: 5px;
    margin-top: -15px;
}

.my-project-text{
    text-align: center  ;
}

/* --laptop-screen media query-- */

@media(max-width:1024px){

    .logo{
        width: 80px;
    }
    .menu-list{
        display: none;
        
    }
    nav{
        justify-content: space-between;
        /* width: 100%; */
    }
    .fa-bars{
        display: block;
    }
    .fa-magnifying-glass{
        display: block;
    }
    .hero-sect h1{
        /* top: 38%; */
        font-size: 2rem;

    }
    .hero-sect p{
        font-size: 0.7rem;
    }
    
    .card{
        width: 300px;
        height: 450px;
    }
    .cards .base{
        /* border: 2px solid black; */
        width: 100%;
        margin-top: 35px;
        
    }
    .card p{
        font-size: 14px;
    }
    .card .base p{
        font-size: 11px;
    }
    .base .name{
        margin-left: 7%;
    }
    .base .date{
        margin-left: -5%;
    }
    .css-icon{
        height: 39%;
    }

    .js-icon{
        height: 39%;
    }

    .view-button {
        padding: 3px 5px;
    }

    .view-button a{
        font-size: 9px;
    }

}

/* --tablet-screen media query-- */

@media(max-width:768px){
    .right-side .btns{
        display: none;
    }
    .logo{
        width: 50px;
    }
    .hero-sect{
        width: 100%;
    }
    .hero-img{
        width: 100%;
    }    

    .hero-sect h1{
        font-size: 1.5rem;
        /* margin-bottom: 10px; */
        /* border: 2px solid black; */
        /* top: 20%; */
    }
    .hero-sect p{
        font-size: 0.5rem;
    }

    .card p{
        font-size: 12px;
    }

    .card .base{
        position: absolute;
        top: 75%;
    }
    .card .base p{
        font-size: 9px;
    }
    .base .name{
        margin-left: 16%;
    }
    .base .date{
        margin-left: -5%;
    }
    .css-icon{
        height: 39%;
    }

    .js-icon{
        height: 39%;
    }

    .card{
        width: 250px;
        height: 350px;
    }
    .my-project-text{
        font-size: 1.5rem;
        text-align: center;
    }

    .view-button {
        margin-top: -8px;
        padding: 3px;

    }

    .view-button a{
        font-size: 7px;
    }
}



/* --mobile small-screen media query-- */

@media(max-width: 480px){
    .right-side .fa-magnifying-glass{
        display: none;
    }

    .logo{
        width: 40px;
    }
    .hero-sect{
        width: 100%;
        flex-direction: column;
    }
    .hero-img{
        width: 100%;
    }    

    .hero-sect h1{
        font-size: 0.5rem;
        /* margin-bottom: 10px; */
        /* border: 2px solid black; */
    }
    .hero-sect p{
        font-size: 0.3rem;
    }

    .cards{
        flex-direction: column;
    }
    .my-project-text{
        font-size: 1rem;
        text-align: center;
    }


}

@media(max-width: 125px){
    .right-side .fa-magnifying-glass{
        display: none;
    }
    nav{
        align-items: center;
    }

    .logo{
        width: 20px;
    }
    .hero-sect{
        width: 100%;
    }
    .hero-img{
        width: 100%;
    }    

    .hero-sect h1{
        font-size: 0.25rem;
        /* margin-bottom: 10px; */
        /* border: 2px solid black; */
    }
    .hero-sect p{
        font-size: 0.1rem;
    }

}


/* https://preview.themeforest.net/item/polar-minimal-blog-and-magazine-ghost-themezip/full_screen_preview/19974381 */

/* 
.hero-sect{
    position: relative;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); 
}

 */